<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Web Progressivas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Apps web progressivas são apps web que usam tecnologias da web avançadas para oferecer uma experiência semelhante a de um aplicativo nativo. Eles podem ser instaladas em dispositivos móveis, funcionar offline e enviar notificações push para e entre outros recursos avançados. Elas são desenvolvidas usando tecnologias web como HTML, CSS e JavaScript e são acessíveis através de um navegador web. A principal vantagem de um PWA é que ele pode ser acessado através de um link da web, sem a necessidade de ser instalado na loja de aplicativos.
</p>
<h1>Instagram:
</h1>
<p>O instragram e uma rede social que pode ser instalada em dispositivos móveis e funcionar offline, enviando notificações push para os usuários, entre outros recursos avançados. Ele é desenvolvido usando tecnologias web como HTML, CSS e JavaScript e é acessível através de um navegador web.
</p>
<h1>Características:
</h1>
<p>•Melhoria na performance e velocidade de carregamento das páginas.
</p>
<p>•Menor tráfego de dados, pois o usuário não precisa baixar o aplicativo.
</p>
<p>•Permite acesso offline.
</p>
<p>•Mais fácil de ser desenvolvido e mantido
</p>
<h1>Opinião</h1>
<p>Em relação a arquitetura utilizada achamos que uma app web progessiva e adequada e nao precisa de mudanças.</p>
</ion-content>
