<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Híbridas Tradicionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Uma aplicação híbrida tradicional é um tipo de software que combina elementos de aplicações nativas e baseadas na web. Ela é instalada como uma aplicação nativa, mas a maior parte do seu conteúdo é carregado a partir da internet através de um navegador embutido. Isso permite que uma aplicação híbrida acesse algumas das funcionalidades do sistema operacional e do hardware, mas também lhe dá a flexibilidade de ser atualizada e modificada sem precisar ser re-instalada. No entanto, uma aplicação híbrida pode ter um desempenho um pouco inferior a uma aplicação nativa devido à dependência do navegador para carregar seu conteúdo. Alguns exemplos de aplicações híbridas incluem o Twitter e o Pinterest.
</p>
<h1>Pinterest:
</h1>
<p>O Pinterest é uma aplicação híbrida porque ele combina características de aplicativos nativos e aplicativos da web. Ele foi construído usando tecnologias web, como HTML, CSS e JavaScript, mas é executado dentro de um "recipiente" nativo, como o WebView do Android ou o UIWebView do iOS. Isso permite que o aplicativo seja executado em vários dispositivos e plataformas sem precisar ser reescrito para cada um.
</p>
<h1>Características: 
</h1>
<p>• É capaz de ser executada em varios dispositivos ao mesmo tempo .
</p>
<p>• A capacidade de atualizar o aplicativo sem precisar fazer download de uma nova versão na loja de aplicações que permite correções de bugs e novas funcionalidades sejam adicionadas rapidamente 
</p>
<p>• É fácil de utilizar e gratuita
</p>
<h1>Opinião</h1>
<p>Em relação a arquitetura utilizada achamos que foi uma boa porque o desenvolvimento híbrido é econômico do que o nativo, pois permite que a equipe de desenvolvimento reutilize o código em várias plataformas e dispositivos o facto de ser hibrida permite ao que Pinterest use o recurso de notificações nativas, o que significa a possivildade de envio notificações push para o dispositivo do usuário mesmo quando o aplicativo não estiver em execução.
</p>
</ion-content>
