<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Web Native</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Uma aplicação web native é um tipo de software que é totalmente baseado na web e acessado através de um navegador. Ela não é instalada no dispositivo do usuário e pode ser acessada a partir de qualquer lugar com uma conexão à internet. Isso significa que uma aplicação web native não precisa se preocupar com diferenças entre sistemas operacionais ou dispositivos, pois ela é executada diretamente no navegador do usuário. No entanto, uma aplicação web native pode ter um desempenho um pouco inferior a uma aplicação nativa ou híbrida devido à dependência de uma conexão à internet e da capacidade do navegador em executar o código. Alguns exemplos de aplicações web native incluem o Google Docs e o Spotify Web Player.
</p>
<h1>Google Docs:
</h1>
<p>O Google Docs é uma aplicação web native  é constituido usando tecnologias web, como HTML, CSS e JavaScript, mas é otimizado para funcionar como um aplicativo nativo. Isso significa que ele pode ser acessado através de um navegador da web, mas também oferece funcionalidades e experiências semelhantes a um aplicativo nativo, como offline access e notificações.
</p>
<h1>Características: 
</h1>
<p>• Os usuários podem acessar seus documentos e apresentações em qualquer dispositivo, incluindo computadores, laptops, tablets e smartphones.
</p>
<p>• É atualizado automaticamente, sem a necessidade de baixar novas versões.
</p>
<p>• Google Docs permite a colaboração de varios usuarios trabalharem juntos em um documento tempo real.
</p>
<h1>Opinião</h1>
<p>Em relação a arquitetura utilizada achamos que uma app web native e uma boa opção pois pode-se fazer uso da app offline parasultar os documentos offline e isso e muito bom mas uma app nativa tambem seria interessante
  pois poderia-mos tirar
  fotos pelo telemovel e colocar nos documentos e depois assesar os mesmos em outra plataforma com melhor desempenho.
  </p>
</ion-content>
