<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Web</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Uma aplicação web é um programa que roda em um navegador web e pode ser acessado através de um endereço de internet URL. São geralmente construídas usando tecnologias como HTML, CSS e JavaScript e são projetadas para funcionar em várias plataformas e dispositivos, incluindo desktop e mobile. 
</p>
<h1>Gmail:
</h1>
<p>O Gmail é uma aplicação web, porque ele roda em um navegador web e pode ser acessado através de um URL sem a necessidade de instalar um programa no dispositivo do usuário. Isso significa que ele pode ser acessado de qualquer lugar, desde que haja uma conexão com a internet e um navegador web compatível.
</p>
<h1>Características:
</h1>
<p>•É uma aplicação web é a facilidade de atualização.
</p>
<p>•O Gmail é atualizado automaticamente sem a necessidade de baixar novas versões. 
</p>
<p>•É baseado na nuvem, os usuários podem acessar suas contas de qualquer dispositivo com conexão à internet, sem precisar sincronizar arquivos ou configurações.
</p>
<h1>Opinião</h1>
<p>Em relação a arquitetura utilizada achamos que uma app web e boa mas uma app hibrida tradicinal pois é capaz de ser executada em varios dispositivos ao mesmo tempo e A capacidade de atualizar sem precisar fazer download de uma nova versão na loja de aplicações que permite correções de bugs e novas funcionalidades sejam adicionadas rapidamente 
</p>
</ion-content>
