<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Híbridas Cross-Compiled</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <h1>Evernote:</h1>
    <p>O evernote é uma app principalmente focada em criação de anotações a principal vantagem deste aplicativo é a sua sincronização entre vários dispositivos.
    </p>
    <h1>Características:</h1>
    <p>Use uma câmara para digitalizar e capturar qualquer coisa.</p> 
      <p>Sincroniza automaticamente todas as notas importantes, etc.</p> 
      <p>Planeia, discute e compartilhe os seus memorandos e notas com quem quiser.</p> 
      <p>Criação de uma lista pessoal de tarefas e mantem os teus pensamentos totalmente organizados.</p> 
      <h1>Opinião</h1>
      <p>Opinião em relação a arquitetura e escolha da tecnologia do Evernote:
        Em relação a arquitetura utilizada achamos que foi uma boa escolha visto que é uma app que utiliza funcionalidades nativas em relação a tecnologia utilizada
        </p>
  </ion-content>
</ion-content>
