<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Aplicações Nativas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Uma aplicação nativa é um software desenvolvido especificamente para funcionar em um determinado sistema operacional. Por exemplo, o aplicativo de mensagens do iPhone é uma aplicação nativa do iOS, enquanto o aplicativo de mensagens do Android é uma aplicação nativa do Android. Esses aplicativos são instalados diretamente no dispositivo e acessam as funcionalidades do sistema operacional e do hardware de maneira mais eficiente, o que pode resultar em um desempenho melhor e uma experiência de usuário mais fluida do que uma aplicação baseada na web ou híbrida. No entanto, é preciso desenvolver uma versão separada da aplicação para cada sistema operacional, o que pode ser trabalhoso e custoso.
  </p>
  <h1>Facebook Messenger:
  </h1>
  <p>O facebook Messenger é uma app para envio e troca de mensagens a principal vantagem e que e gratuito e facil de utilizar. 
  </p>
  <h1>Características: 
  </h1>
  <p>• É fácil de utilizar e gratuita.
  </p>
  <p>• Ajuda a reduzir o número de separadores abertos se estiver a conversar através do navegador web.
  </p>
  <p>• Elimina a compulsão de ver o feed de notícias enquanto está a comunicar-se com os seus amigos.
  </p>
  <p>• Permite iniciar e terminar sessão facilmente.
  </p>
  <h1>Opinião</h1>
  <p>Opinião em relação a arquitetura e escolha da tecnologia do facebook messenger:
    Em relação a arquitetura utilizada achamos que foi uma boa escolha porque o facebook messeger foi apenas desenvolvido para funcionar em dispocitivos móveis, sendo nativa permite que a aplicação aproveite as funcionalidades do dispositivo, como acesso à câmera e ao microfone.
    Além disso, aplicativos nativos tendem a ter uma melhor segurança, pois são geralmente mais difíceis de serem hackeados e permitem que as informações do usuário sejam armazenadas de forma mais segura.
    Mas se fizesem uma app hibrida nao era mau na medida em que tinhão mesmos custos economicos pois so presisariam de uma equipa.
    </p>
</ion-content>
