<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Contexto do projeto e objetivo do projeto:</h1>
  <p>O objetivo do projeto é investigar e aprender sobre os diferentes tipos de aplicações através de um caso prático de uma aplicação existente que tenha sido desenvolvida, O intuito da investigação é avaliar a decisão tomada pela equipa de desenvolvimento de cada uma das aplicações e fundamentando se optaríamos por ela. Depois analisar as vantagens e desvantagens da arquitetura e tecnologia utilizada.
  </p>
</ion-content>
